<head>
  <title>Pizza vs Burger</title>
  <link rel="stylesheet" type="text/css" href="../website/css/style.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
    rel="stylesheet"
  />
</head>
<body>
  
  <div class="all">
    <noscript
      ><h1>Merci d'activer JavaScript sur votre navigateur !</h1></noscript
    >
    <section id="Pizza">
      <div class="Pizza">
        <button type="button" class="button" onclick="countPizza()">
          <img class="img" src="../website/img/pizza.png" />
        </button>
        <h2 id="countPizza">pizza.count.txt</h2>
      </div>
    </section>
    <section id="Burger">
      <div class="Burger">
        <button type="button" class="button" onclick="countBurger()">
          <img class="img" src="../website/img/burger.png" />
        </button>
        <h2 id="countBurger">burger.count.txt</h2>
      </div>
    </section>
  </div>
  <!-- <script src="../website/js/bundle.js"></script> -->
  <script src="../website/js/bundle.js"></script>
  <!-- <script src="../website/js/test_static.js"></script> -->
</body>
